@import './styles/colors.scss';

div.banner-container {
  height: 30vh;
  max-height: 400px;

  background-size: cover;
  position: relative;
}


div.welcome-card {
  background-color: $faded-bg;
  top: 50%;
  transform: translateY(-50%);
  color: $neutral;
  padding: 1rem 0 1rem 1.25rem;
  border-left: 0.25rem solid $action;
  div span {
    height:1rem;
  }
}