@import '../styles/colors.scss';

.app-logo path {
  fill: $light-blue;
  stroke: $light-blue;
}

div.navbar-container {
  background-color: $dark-green;
  line-height: 1.5rem;
  overflow: hidden;
}

span.logo {
  float: left;
  color: $light-blue;
  padding: 0.6rem;

}

span.nav-link {
  color: $light-gray;
  text-align: center;
  text-decoration: none;
  float: right;
  padding: 0.6rem;
}

span.nav-link:hover{
  color: $light-blue;
  &::after {
    width: 95%;
  }
}



span.nav-link::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: $light-blue;
  transition: 0.5s;
}


