@import '../../../styles/colors.scss';

form.search-container {

 width: 100%;
 padding: 1.5rem 0;
 border-bottom: 1px solid $light-gray;

 input {
   display: block; 
   min-width: 215px;
   width: 40%;
   max-width: 300px;
  margin: 0 auto;
 }
}

