@import '../../../styles/colors.scss';

form.search-container {
  input {
    width: 75vw;
    max-width: 600px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem;
    border-bottom: 1px solid $action;
    text-align: center;
    margin-top: 2rem;
    transition: font-size 0.5s;
    &:focus {
      outline: none;
      font-size: 1.2rem;
    }
  }
}