@import '../../../styles/colors.scss';

.user-icon {
  position: relative;
  color:$action;
  cursor: pointer;
}

.dropdown {
  position: relative;
  float: right;
  top: 0.6rem;
  right: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 0;
  background-color: $faded-bg;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px $background-color;
  z-index: 5;
}

.dropdown-content span {
  color:$neutral;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: $background-color;
  color: $action}
.dropdown:hover .dropdown-content {display: inline;}
