@import '../../styles/colors.scss';

.app-logo path {
  fill: $action;
  stroke: $action;
}

div.navbar-container a .login-icon{
  position: relative;
  float: right;
  top: 0.6rem;
  right: 1rem;
  color: $action;
}

div.nav-spacer {
  background-color: $background-color;
}


div.navbar-container {
  background-color: $background-color;
  line-height: 1.5rem;
}

span.logo {
  float: left;
  color: $action;
  padding: 0.6rem;
}

