@import "../../styles/colors.scss";
div.navbar-wrapper {
  margin-bottom: 3rem;
}

.app-logo {
  g#top-left path {
    fill: $primary-md-dark;
    
  }
  g#top-right path {
    fill: $primary-md-light;
  }
  g#bottom-left path {
    fill: $primary;
  }
  g#bottom-right path {
    fill: $primary-light;
  }
  &:hover {
    g#top-left path {
      fill: $secondary-md-dark;
      
    }
    g#top-right path {
      fill: $secondary-md-light;
    }
    g#bottom-left path {
      fill: $secondary;
    }
    g#bottom-right path {
      fill: $secondary-light;
    }
  }
}
