@import "../../styles/colors.scss";
div.navbar-wrapper {
  margin-bottom: 3rem;
}

.app-logo {
  g#top-left {
    fill: $primary-md-dark;
    &:hover {
      fill: $secondary-md-dark;
    }
  }
  g#top-right {
    fill: $primary-md-light;
    &:hover {
      fill: $secondary-md-light;
    }
  }
  g#bottom-left {
    fill: $primary;
    &:hover {
      fill: $secondary;
    }
  }
  g#bottom-right {
    fill: $primary-light;
    &:hover {
      fill: $secondary-light;
    }
  }
}
