$primary-dark: #004a3f;
$primary-md-dark: #00695c;
$primary: #007769;
$primary-md-light: #00897b;
$primary-light: #48a697;
$primary-2-light: #52c7b8;


$secondary-dark: #002884;
$secondary-md-dark: #3949ab;
$secondary: #3f50b5;
$secondary-md-light: #5c6bc0;
$secondary-light: #757ce8;
$primary-text: #ffffff;
$secondary-text: #ffffff;



/*
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#007769">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="theme-color" content="#000000">
*/