$primary-dark: #004a3f;
$primary-md-dark: #00695c;
$primary: #007769;
$primary-md-light: #00897b;
$primary-light: #48a697;
$primary-2-light: #52c7b8;
$secondary: #3f50b5;
$secondary-light: #757ce8;
$secondary-dark: #002884;
$primary-text: #ffffff;
$secondary-text: #ffffff;
